<div class="welcome-image">
  <img src='/images/emoji/twitter/woman_pilot/6.png'/>
  <div class="p-text large">{{i18n 'welcome.user.run.label'}}</div>
</div>
<div class="p-text medium">{{i18n 'welcome.user.run.title'}}</div>
<div class="p-text medium">{{{i18n 'welcome.user.run.body'}}}</div>
<div class="p-text small tip">{{i18n 'welcome.user.tip'}}: {{{i18n 'welcome.user.run.tip'}}}</div>
