<div class="title-image">
  <img src='/images/emoji/twitter/man_office_worker/5.png'/>
  <div class="p-text large">{{i18n 'welcome.user.work.label'}}</div>
</div>
<div class="p-text medium">{{i18n 'welcome.user.work.title'}}</div>
<div class="p-text medium">{{{i18n 'welcome.user.work.body'}}}</div>
<div class="p-text small tip">{{i18n 'welcome.user.tip'}}: {{{i18n 'welcome.user.work.tip'}}}</div>
