<div class="welcome-image">
  <img src='/images/emoji/twitter/woman_technologist/4.png'/>
  <div class="p-text large">{{i18n 'welcome.user.share.label'}}</div>
</div>
<div class="p-text medium">{{i18n 'welcome.user.share.title'}}</div>
<div class="p-text medium">{{{i18n 'welcome.user.share.body'}}}</div>
<div class="p-text small tip">{{i18n 'welcome.user.tip'}}: {{{i18n 'welcome.user.share.tip'}}}</div>
