<div class="title-image">
  <img src='/images/emoji/twitter/raising_hand_man/2.png'/>
  <div class="p-text large">{{i18n 'welcome.user.talk.label'}}</div>
</div>
<div class="p-text medium">{{i18n 'welcome.user.talk.title'}}</div>
<div class="p-text medium">{{{i18n 'welcome.user.talk.body'}}}</div>
<div class="p-text small tip">{{i18n 'welcome.user.tip'}}: {{{i18n 'welcome.user.talk.tip'}}}</div>
